<div id="allApplication">
    <div class="col-sm-12">
        <div class="header">
            <h1>All Application</h1>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Application ID</th>
                        <th>Application Type</th>
                        <th>Purpose</th>
                        <th>Agent</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="app in apps">
                        <td>{{ app.id }}</td>
                        <td>{{ app.type }}</td>
                        <td>{{ app.purpose }}</td>
                        <td>{{ app.agent }}</td>
                        <td>
                            <a href="#/apps/{{ app.id }}" class="btn btn-default btn-xs" title="View Applicant">
                                <span class="fa fa-eye"></span>
                            </a>
                            <a href="#/apps/{{ app.id }}/edit" title="Edit Applicant" class="btn btn-info btn-xs"><span class="fa fa-pencil"></span></a>
                            <a ng-click="removeApp($index, app.id)" title="Delete Applicant" class="btn btn-danger btn-xs">
                                <span class="fa fa-trash-o"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
